# QGIS project temporary files
*.aux.xml
*.qml
*.qgd
*.qmd
*.qgz~
*.qgs~
*.bak
*.geojson
*.shp
*.dbf
*.prj
*.shx
*.xml

# キャッシュ類は除外
cache/
__pycache__/
*.pyc

# OS / Editor files
.DS_Store
.vscode/
.idea/

# Virtual environments
venv/
.env/

# Output / cache / data
data/tmp/
logs/
