# QGIS project temporary files
*.aux.xml
*.qml
*.qgd
*.qmd
*.qgz~
*.qgs~
*.bak
*.geojson
*.shp
*.dbf
*.prj
*.shx
*.xml
*.cpg
*.db
*.qgz

__pycache__/
.DS_Store
.vscode/
.venv/
*.env

scripts/GET_DATA
scripts/QGIS/save_route.py

notebooks
