# QGIS project temporary files
*.aux.xml
*.qgd
*.qgz~
*.qgs~
*.bak
*.xml
*.db
*.qgz

__pycache__/
.DS_Store
.vscode/
.venv/
*.env



data/route
data/raw/city
data/raw/shelters
data/raw/terrains
data/raw/ube_roads.geojson
data/raw/ube_buildings.geojson

scripts/GET_DATA
scripts/QGIS/save_route.py

notebooks
