# --- FastAPI Core ---
fastapi
uvicorn[standard]
requests

# --- Data Processing ---
pydantic
networkx
python-dotenv
numpy

# --- Geospatial stack ---
geopandas
shapely
fiona
pyproj
pandas

# --- Database ---
psycopg2-binary
